<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <link href="style.css" rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="header">
      <a href="/">Login</a>
      <a href="/register">Register</a>
    </div>
    <div class="formbox">
      <p class="formtop"><%= title %></p>
      <form method="POST">
        <div class="formtable">
          <%- include("./form.ejs", forms) %>
          <div class="commit">
            <button type="submit"><%= title %></button>
            <p><%= message %></p>
          </div>
          <% if(errormessages) { %>
          <ul>
            <% for (let n in errormessages) { %>
            <li class="red"><%= errormessages[n].msg %></li>
            <% } %>
          </ul>
          <% } %>
        </div>
      </form>
    </div>
  </body>
</html>
